#parent {
    background-color: red;
    height: 200px;
    width: 200px;
    animation-name: ex; /* Identifier = animation name used 
    to connect @keyframes with an HTML element */

    animation-duration: 10s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: normal;
    animation-direction: reverse;
    animation-direction: alternate; /* TOP => DOWN => AGAIN COME BACK TO TOP || LIKE RECURSION OR DFS */
    animation-direction: alternate-reverse; /* DOWN => TOP => AGAIN COME BACK TO DOWN */
}

/* KEYFRAME => RULE TO ENABLE ANIMATION
WITHOUT KEYFRAME ANIMATION WONT WORK */

@keyframes ex {
    /* from {
        background-color: blue;
    }

    to {
        background-color: blueviolet;
    } */

    0% {
        background-color: blue;
        top: 0px;
        left: 0px;
    }

    20% {
        background-color: crimson;
        top: 100px;
        left: 100px;
    }

    40% {
        background-color: pink;
        top: 200px;
        left: 200px;
    }

    60% {
        background-color: aqua;
        top: 300px;
        left: 300px;
    }
    
    100% {
        background-color: yellow;
        top: 400px;
        left: 400px;
    }
}