/* ------------------- SIMPLE SELECTOR = ID(#) ----------------------------- */
/* #para {
    background-color: red;
} */

/* SIMPLE SELECTOR = CLASS(.) */
/* .grouped {
    background-color: rgb(207, 207, 224);
} */

/* SIMPLE SELECTOR = GROUPING(,) */
/* #para, .grouped {
    background-color: rgb(207, 207, 224);
} */

/* SIMPLE SELECTOR = UNIVERSAL(*) */
/* * {
    background-color: rgb(207, 207, 224);
} */

/* ------------------- COMBINATOR SELECTOR ----------------------------- */

/* GENERAL-SIBLING */
/* div ~p {
    background-color: Blue;
} */

/* DESCENDANT */
/* div p {
    background-color: red;
} */

/* CHILD */
/* div >p {
    background-color: aqua;
} */

/* ADJACENT */
/* div +p {
    background-color: pink;
} */

/* ------------------- Pseudo-class selector(:) SELECTOR ----------------------------- */