/* ------------------- SIMPLE SELECTOR ----------------------------- */
/* #para {
    background-color: red;
} */

/* SIMPLE SELECTOR = CLASS(.) */
/* .grouped {
    background-color: rgb(207, 207, 224);
} */

/* SIMPLE SELECTOR = GROUPING(,) */
/* #para, .grouped {
    background-color: rgb(207, 207, 224);
} */

/* SIMPLE SELECTOR = UNIVERSAL(*) */
/* * {
    background-color: rgb(207, 207, 224);
} */

/* ------------------- COMBINATOR SELECTOR ----------------------------- */

/* GENERAL-SIBLING */
/* .parent~h1{
    background-color: Blue;
} */

/* DESCENDANT */
/* .parent h1 {
    background-color: red;
} */

/* CHILD */
/* .parent>h1 {
    background-color: aqua;
} */

/* ADJACENT */
/* div+h1 {
    background-color: pink;
} */

/* ------------------- Pseudo-class selector(:) SELECTOR ----------------------------- */

/* .parent :first-child{
    background-color: blue;
} */

/* .parent :last-child{
    background-color: blue;
} */

/* .parent :nth-child(2) {
    background-color: red;
} */

/* .fp:visited {
    color: black;
} */

/* am:link {
    color: maroon;
} */

/* .fp:active {
    color: aqua;
} */

/* .fp:hover {
    color: green;
} */

/* .fp:focus {
    color: aqua;
} */

/* ------------------- Pseudo-Element selector(::) SELECTOR ----------------------------- */

