#container {
    /* Default thickness of line = 2px */
    height: 200px; /* -> Here px is Imp Otherwise it wont work */
    width: 200px;
    background-color: red;

    /* Font properties in CSS */
    color: blue; /* Text Color */
    font-size: 30;
    font-weight: bold;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    text-align: center;

    /* text-decoration = 1) text-decoration-line = underline / overline / line-through / none
    Step 1 is Mandatory

    Step 2,3,4 are OPTIONAL
    2) text-decoration-color
    3) text-decoration-style = solid (default) / double / dotted / dashed / wavy
    4) text-decoration-thickness = auto / from-font / exact values (like 2px, 4px, 0.1em

    */
    text-decoration: underline green 4px;

    /* text-shadow: [x = Left Shadow X axis Position, y = Right Shadow, Shadow Blurness, Color = Optional] */
    text-shadow: 5px 2px 0px yellow;

    /* 
    1️⃣ 5px → offset-x (horizontal shadow)
    - Moves the shadow left or right.
    - Positive = right
    - Negative = left

    2️⃣ 4px → offset-y (vertical shadow)
    - Moves the shadow up or down.
    - Positive = down
    - Negative = up

    3️⃣ 7px → blur-radius
    - How blurry the shadow is.
    - bigger value → more blur
    - Cannot be negative

    4️⃣ 8px → spread-radius
    - Size increase or decrease.
    - Positive = shadow grows bigger
    - Negative = shadow shrinks

    5️⃣ aqua → color
    - Any valid color (name, hex, rgb, rgba, etc.)

    ""OFFSET X and OFFSET Y are MANDATORY" 

    */
    box-shadow:5px 4px 7px 8px aqua;

    /* line-height: 10px;
    word-spacing: 25px;
    letter-spacing: 20px; */

}